{% extends "base.html" %}

{% block title %}Login{% endblock %}
{%block extraboots%}{%endblock%}

{%block about%}{%endblock%}
{% block extra %} <link rel="stylesheet" href="../static/css/login.css"> {%endblock%}

{% block content %}
<div class="contentdivform">
    <form class="form-signin" autocomplete="off" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" autocomplete="off" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" autocomplete="off" class="form-control" placeholder="Password" required>
        <hr>
        {{ captcha_html(captcha)| safe }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}

{%block footer%}
{%endblock%}