/* for the base.html*/



/*TODO : add the hovering transition duration when hovering the links of the nav bar
#navbarText li > a{
    transition: transform 5983ms;
} */

#navbarText li > a:hover{
    background-color: rgb(86, 86, 139);
}

#media_container
{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}