.button
{
    font-style: italic;
    color: white;
    background-color: rgb(128, 176, 128);
    transition-duration: 2s;
    border-radius: 4px;
}

.button-delete
{
    font-style: italic;
    color: white;
    background-color: rgb(152, 87, 87);
    transition-duration: 2s;
    border-radius: 4px;
}

.button-delete:hover{ background-color: rgb(165, 65, 65); }
.button:hover { background-color: rgb(61, 211, 61); }